<ion-view view-title="Mild" >
  
  <ion-content class="padding" ng-controller="CardsCtrl" class="slide-left-right-ios7">
 
     <swipe-cards on-card-swipe="onSwipe($event)">
    
            <swipe-card on-card-swipe="cardSwiped()" id="start-card">
              Swipe down for a new question card
            </swipe-card>
     
        
            <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-card-swipe="cardSwiped($index)">

           
                
                  <h2>{{card.question}}</h2>
                        
              

            </swipe-card>

      </swipe-cards>

     

 </ion-content>

</ion-view>
