img{
	display:block;
	margin:0 auto;
	border: 1px solid #808080;
	margin-top:40px; /*to have the space above the image*/
   	margin-bottom:40px; /*to have the space under the image*/
}

h1,h2{
	text-align: center;
}

p{
	padding-left: 80px;
	padding-right: 80px;
}
