/*body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}


*/
.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.bar.bar-transparent {
  background-color: transparent;
  background-image: none;
  border: none;
}


.bar .title {
  color: #eee;
}
.pane {
  background-color: #333 !important
}

.swipe-cards {
  position: fixed;
}

.swipe-card, swipe-card {
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  /*display: none;*/
  position: fixed;
  -webkit-transform: scale(1,1);
  left: 30%;
  top: 30%;
  width: 524px;
  height: 250px;
  margin-left: -130px;
  margin-top: 30px;
  box-sizing: border-box;
  background-color: rgb(255,255,255);
  border-radius: 4px;
  overflow: hidden;
  -webkit-animation-fill-mode: forwards;
}
start-card .swipe-card{
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  /*display: none;*/
  position: fixed;
  -webkit-transform: scale(1,1);
  left: 30%;
  top: 0;
  width: 524px;
  height: 250px;
  margin-left: 0px;
  margin-top: 0;
  box-sizing: border-box;
  background-color: blue;
  border-radius: 4px;
  overflow: hidden;
  -webkit-animation-fill-mode: forwards;
}
.titleCardText{
  background-color: blue;
}

.swipe-card .title {
  height: 40px;
  padding: 5px;
  line-height: 30px;
  color: #444;
}
.swipe-card .image {
  overflow: hidden;
  max-height: 210px;
}
.swipe-card .button {
  border: none;
}
.swipe-card .image img {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
}

#start-card {
  color: #fff;
  background-color: #30BD8A;
  line-height: 300px;
  word-wrap: break-word;
  border: 6px solid #4CD68E;
  text-align: center;
}
#start-card span {
  display: inline-block;
  line-height: 40px;
  width: 200px;
  font-size: 30px;
  top:0;
  vertical-align: top;
}

#footer .button {
  color: #fff;
}

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0,0);
  }
  70% {
    -webkit-transform: scale(1.2,1.2);
  }
  100% {
    -webkit-transform: scale(1,1);
  }
}

.swipe-card.pop-in-start {
  -webkit-transform: scale(0,0);
}
.swipe-card.pop-in {
  -webkit-animation: bounceIn 0.3s ease-out;
}